#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.AnimalNaam{
color: rgb(101, 65, 7);
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
}

.ImageDier{
background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 15px;
  width: 20%;
  margin-top: 50px;
}

.TextClass{
  font-size: 30px;
  font-weight: 700;
}

.BeschrijvingClass{
  color: rgb(101, 65, 7);
}

.h2Animal{
font-size: 50px;
color: #5b380daa;
}

.NameAnimal{
  color: #5b380daa;
}

body{
background-color: rgb(254, 243, 208); 
height: 3000px;
}


.ButtonDier{
border-style: none;
  color: rgb(255, 255, 255);
  background-color: #e8942d;
  padding: 10px 20px;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 50px;
  display: block;
  position: absolute;
  left: 41.5%;
  width: 17%;
  text-align: center;
}

.ButtonDier:hover{
border-style: none;
color: black  ;
background-color: rgb(255, 255, 255);
}



