#root {
  max-width: 100vw;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.BookBody{
background-color: #f1f2f2;

}

.bookContainer{
  padding: 5px;
display: flex;
flex-wrap: wrap;
gap: 60px;
width: 100%;
}

/* img{
width: 300px;
height: 400px; 
padding: 30px;
background-color: #ffffff;
} */


.AuthorText{
color: #549fb3aa;
}

.book-list{
background-color: #ffffff;
width: 30%;

}

.-list{
position: absolute;

}



ul li {
  float: left;
}

ul{
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #cae1dd;
}

li{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background-color: #ffffff;
  color: black;
}

.Header-list{
width: 100%;
}

.Layout-list{
  width: 80vw;
  margin: 0 auto;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: rgb(0, 0, 0);

}

nav {
  width: 100%;
  position: center;

}

.BookBody h2 {
  width: 100%;           
  text-align: center;      
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333;
}

.ButtonBook{
border: none;
background-color: #cae1dd;
color: #ffffff;
}


.book {
  perspective: 1000px;
  cursor: pointer;
  height: 550px;
  width: 25%;
}
.book-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.book.flipped .book-inner {
  transform: rotateY(180deg);
}
.book-front, .book-back {
  position: absolute;
  width: 200px;
  height: 100%;
  backface-visibility: hidden;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  gap: 10px;
  
}

.book-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.book-back h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #4a90e2;
}
.book-back p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 10px;
  color: #333;
}


